body {
    /*background-image: url("../images/bg3.jpg");*/
    background-color: #202424;
}

.flex-container1 {
     display: block;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    padding: 10px;
    border: 1px solid #CCCCCC;
    margin: 5px;
}

#title {
    text-align: center;
    font-size: 55px;
    color:red;
    background-color: #202424;
    width: 20%;
    margin: auto;
    padding: 5px;
}

#adp {
    color: red;
    text-align: left;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    padding: 1px;
}

.maroon-border {
    padding: 10px;
    border: 1px solid maroon;
    margin: 5px;
}

#links {
    margin-left: auto;
    color: red;
    font-size: 32px;
    text-align: right;
}